@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
  --white-gradient: linear-gradient(180deg,rgba(0, 32, 95, 0.12) 0%, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 1) 100%);
}

* {
  box-sizing: border-box;
}

.bg-white-gradient {
  background: var(--white-gradient);
}

.bg-header {
  background-image: url('../public/images/ustudio-pattern.png');
}

.bg-header:after {
    content: '';
    display: block;
    background: rgba(138, 34, 97, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.bg-header *{
  position: relative;
  z-index: 10;
}

.bg-white-overlay {
  content: '';
  background: url('../public/images/bg-overlay.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  margin-bottom: 20px;
}

@theme inline {
  --color-darkPink: #d01a71;
  --color-darkPurple: #8A2261;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sofiaPro: var(--font-sofiaPro);
  --bg-white-gradient: var(--white-gradient);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sofiaPro);
  font-weight: 500;
}

p a:hover, li > a:hover {
  text-decoration-line: underline;
}

/* navigation */
nav ul li a:hover,
nav ul li a {
  text-decoration: none;
  transition: all 0.9s ease;
}

nav ul li a.active:before,
nav ul li a:hover:before {
  background: var(--color-darkPink);
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: -4.5px;
  width: 100%;
}

/* slider styles */

.swiper-wrapper {
  padding-bottom: 5.125rem;
}

.swiper-pagination {
  bottom: 2rem !important;
}

body .swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, var(--color-darkPink));
}

.swiper-nav-container button.swiper-nav-btns {
  cursor: pointer;
  border-radius: 100%;
  background: var(--color-darkPink);
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
}

.swiper-nav-container button.swiper-nav-btns:disabled {
  opacity: 0.65;
}

/* .swiper-nav-container button.swiper-nav-btns > * {
  font-size: 1px;
  position: absolute;
  opacity: 0;
} */

/* end of slider styles */
/* socials page styles */
.socials-pin-layout {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}